body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topNav{
    overflow: hidden;
    
}


.topNav p{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgb(173, 141, 99);
    margin-top: 0;
    padding: 12px;
    
    border-radius: 12px;
    
}
.navBar{
    background-color: rgb(231, 205, 170);
    
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 12px;
    
    
}
.navBar a{
    width: 50%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 12px;

    
    
}

.navBar a:hover{
    background-color: rgb(173, 141, 99) ;
}

.textOver{
    position: relative;
    text-align: center;
    color: white;
    font-size: 40px;
    background-color:rgb(173, 141, 99) ;
    margin-top: 15px;
}

.imgHome {
    width: 40%;
    margin-top: 12px;
    

}

.imgTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    color: white;
}

h1{
    font-size: 30px;
    color: rgb(173, 141, 99);
    text-align: center;
    padding-top: 12px;
}

#about{
    background-color: rgb(241, 237, 223);
    
    
}
.group{
    display: flex;
}

#about img{
    float: left;
    padding: 25px;
    margin-left: 15%;
    border-radius: 50px;
}

#about p{
    font-size: 30px;
    color: rgb(173, 141, 99);
    float: right;
    text-align: left;
    padding: 15px;
    margin-top: 12%;
    
}

#about a{
    font-size: 40px;
    color:rgb(134, 107, 71) ;
    text-decoration: dashed;
}

#about a:hover{
    background-color:rgb(134, 107, 71) ;
    color: rgb(228, 217, 202);
}

#products{
    display: flex;
}

.container{
    position: relative;
    width: auto;
    padding: 20px;
}

.image{
    display: block;
    
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: rgb(134, 107, 71);
}

.container:hover .overlay{
    opacity: 1;
}

.overlayText{
    
    color: white;
    font-size: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#contact{
    background-color:rgb(134, 107, 71) ;
    padding: 15px;
    padding-bottom: 40px;
}
#contact h1{
    color: white;
}
#contact p{
    font-size: 25px;
    color: white;
    text-align: center;
}

#contact a{
    background-color:rgb(228, 217, 202) ;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    margin-left: 45%;
    color:rgb(134, 107, 71) ;
    font-size: 26px;
    margin-top: 30px;
}

#contact a:hover{
    background-color: rgb(240, 210, 176);
    color: rgb(43, 34, 17);
}

.foot{
    background-color:rgb(240, 210, 176) ;
    padding: 30px;
    margin-top: 20px;
    display: block;
}

.foot p{
    font-size: 25px;
    color:rgb(134, 107, 71)  ;
    text-align: center;
    padding-top: 1px;
}

.foot a{
    color: rgb(134, 107, 71);
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    font-size: 20px;
}

.fot{
    text-align: center;
}

.fot a:hover{
    background-color: rgb(134, 107, 71) ;
    color: white;
    border-radius: 20px;
    padding: 12px;
}
}